{% extends "base.html" %} {% block content %}
<!--
<button id="selectAll" type="button" class="btn btn-primary">Select All</button>
<button id="deselectAll" type="button" class="btn btn-secondary">
  DeSelect All
</button>


<form>
  <div class="row g-3 d-flex justify-content-start align-items-center">
    <div class="col-auto">
      <label for="dateFrom" class="form-label">Created Start</label>
      <input
        class="form-control form-control-sm"
        name="dateFrom"
        type="datetime-local"
        placeholder=".form-control-sm"
        aria-label=".form-control-sm example"
      />
    </div>
    <div class="col-auto">
      <label for="dateFrom" class="form-label">Created End</label>
      <input
        class="form-control form-control-sm"
        name="dateFrom"
        type="datetime-local"
        placeholder=".form-control-sm"
        aria-label=".form-control-sm example"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-sm col-auto mt-5">
      Resend Orders
    </button>
  </div>
</form>
<hr />
-->

<div id="astmOrders"></div>

<div
  class="offcanvas offcanvas-bottom"
  tabindex="-1"
  id="offcanvasBottom"
  aria-labelledby="offcanvasBottomLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      Order Detail:
      <span id="astmorder"></span>
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body small">
    <div class="d-flex justify-content-between align-items-start">
      <div class="card" style="min-width: 18rem">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Result: <span id="astmresult"></span></li>
          <li class="list-group-item">
            Keyword: <span id="astmkeyword"></span>
          </li>
          <li class="list-group-item">Synced: <span id="astmsynced"></span></li>
        </ul>
      </div>
      <div class="">
        <code>
          <pre>
            <div id="astmmessage" class="px-4"></div>
          </pre>
        </code>
      </div>
      <div class="card" style="min-width: 18rem">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Result Date: <span id="astmresultdate"></span>
          </li>
          <li class="list-group-item">
            Created Date: <span id="astmcreateddate"></span>
          </li>
          <li class="list-group-item">
            Synced Date: <span id="astmsynceddate"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
